[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/lusty"]
	path = .vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule ".vim/bundle/bufonly"]
	path = .vim/bundle/bufonly
	url = https://github.com/duff/vim-bufonly.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/bundle/colorschemes"]
	path = .vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/Dockerfile"]
	path = .vim/bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/vimoutliner"]
	path = .vim/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner
[submodule ".vim/bundle/tern-meteor"]
	path = .vim/bundle/tern-meteor
	url = https://github.com/Slava/tern-meteor
[submodule ".vim/bundle/vim-spacebars"]
	path = .vim/bundle/vim-spacebars
	url = https://github.com/Slava/vim-spacebars
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule ".vim/bundle/sprinkles"]
	path = .vim/bundle/sprinkles
	url = https://github.com/alexjgriffin/sprinkles
[submodule ".vim/bundle/Dev_Delight"]
	path = .vim/bundle/Dev_Delight
	url = https://github.com/sandeepsinghmails/Dev_Delight.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule ".vim/bundle/textile"]
	path = .vim/bundle/textile
	url = https://github.com/timcharper/textile.vim
