snippet block "block" !
{% block ${1} %}${2}{% endblock %}
endsnippet

snippet 18 "18" !w
{% trans "${1}" %}${2}
endsnippet

snippet ext "ext" !w
{% extends "${1}" %}${2}
endsnippet

snippet inc "inc" !w
{% include "${1}" %}${2}
endsnippet

snippet script
<script type="text/javascript">
	${1}
</script>
endsnippet
