snippet version
<?xml version="1.0" encoding="utf-8"?>
endsnippet

snippet layw
android:layout_width="${1:match_parent}"
endsnippet

snippet layh
android:layout_height="${1:match_parent}"
endsnippet

snippet orient
android:orientation="${1:vertical}"
endsnippet
